<mat-toolbar color="primary"> 
<ul>
<li><a routerLink="saveTask">Create task</a></li>
</ul>

<ul>
<li><a routerLink="listTask">List Task</a></li>
</ul>
<!--admin-->
<ul>
    <li><a routerLink="listUser">User</a></li>
    </ul>

    <ul>
        <li><a routerLink="listRole">Role</a></li>
        </ul>
<!--admin-->

<span class="headerSpacer"></span>

<ul>
<li><a mat-button routerLink="register">Sing in</a></li>
<li><a mat-button  routerLink="login">Login</a></li>
<li><a mat-button  routerLink="">Logout</a></li>
</ul>

</mat-toolbar>